<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="border: #a8a8a8 1px solid; width: 40rem; padding: 1rem; background-color: #f9f9f9; margin: 0 auto;">
        <h2 style="text-align: center">금일 주문 내역을 보내드립니다.</h2>
        <hr/>
        <p style="text-align: center; font-size: large;">안녕하세요 %받는분%님 패스트몰 %매니저_이름% 입니다.</p>
        <p style="text-align: center; font-size: large; margin-top: 3rem;">금일 쇼핑몰로 주문 들어온 상품들을 보내드립니다.</p>
        <p style="text-align: center; font-size: large">확인 해보시고 발주 부탁드립니다.</p>
        <p style="text-align: center; font-size: large">패스트몰 %매니저_이름% 드림</p>
    </div>
</body>
</html>